@charset "UTF-8";
#find_pw_popup_wrap .btn:focus { box-shadow: none; }
#find_pw_popup_wrap{background:#faf9f6; border: solid 1px #666666; position:fixed; z-index:9999; top: 0px; right: -400px;}
#find_pw_wrapper{font-family: 'MinSans-Regular'; width: 400px; background-color: #faf9f6;}
#find_pw_popup_close{border: none; outline: none; background-color: #faf9f6; position:absolute; top:0; right:0;}