@charset "UTF-8";
 header { 
	position: fixed;
	 top: 0; left: 0; 
	 width: 100%; height: 215px; 
	 transition: top 0.2s ease-in-out; 
	 z-index: 9999;} 
/* 자바스크립트로 추가될 클래스  */
 .nav-up { top: -215px; }

 body { padding-top: 215px;} 

 #main_header{
    background-color: #ca5c0d; 
    height: 100px; 
    position: relative;
}
#main_header_logo{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
#main_header_logo_img{
    height: 60px;
}
#main_header_img{
    font-family: 'MinSans-Regular'; 
    font-size: 5px; 
    padding: 31px;
}
#login_popup_open{
    text-decoration:none; 
    background-color: #ca5c0d;
    color: #fef8d4; 
}
#main_header_signUp{
    text-decoration:none; 
    color: #fef8d4;
}
#main_header_cart{
    text-decoration:none; 
    color: #fef8d4;
}
#mypage{
	text-decoration:none; 
    color: #fef8d4;
}
#logout{
	text-decoration:none; 
    color: #fef8d4;
}
.main_header_text{
    font-size: 12px;
}