@charset "UTF-8";
#model_dental_wrap{margin: 0 auto; width: 996px; font-family: 'MinSans-Regular'; background-color: #faf9f6;}
.model_dental_cnt{font-size:14px; color:#7c7c7c;}
.model_dental_cnt_p{line-height: 0; margin:0; padding:0;}
.model_dental_content{margin:0 auto;}
.model_dental_content_a{text-decoration: none; color: black;}
.model_dental_content_a:hover{text-decoration: none; color: black;}
.model_dental_content_img{width: 300px; height: 200px; border-radius: 10px;}
.model_dental_content_b{line-height: 3; width: 300px;}
.model_dental_content_sm{line-height: 1;}
.model_dental_content_sm span{background-color: rgba(0,0,0,.2); border-radius: 10px; padding: 0 5px;}
.model_dental_content_img_div{ width: 300px; height: 200px; border-radius: 10px; }
 .model_dental_content_img_div {
	box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.model_dental_content_img_div::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    border-radius: 10px;
}

.model_dental_content_img_div .model_dental_content_img_div_content {
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
}

.model_dental_content_img_div .model_dental_content_img_div_content::after,
.model_dental_content_img_div .model_dental_content_img_div_content::before {
    content: "";
    display: block;
    position: absolute;
    left: 54%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-color: white;
    border-width: 2px;
    transition: .5s;
    z-index : 5;
}

 .model_dental_content_img_div .model_dental_content_img_div_content::after {
    height: 100%;
    border-style: solid none;
}
.model_dental_content_img_div .model_dental_content_img_div_content::before {
    width: 100%;
    border-style: none solid;
}
.model_dental_content_img_div:hover::after {
    opacity: 1;
}
.model_dental_content_img_div:hover .model_dental_content_img_div_content::after,
.model_dental_content_img_div:hover .model_dental_content_img_div_content::before {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index : 10;
} 

.model_dental_content_img_div .model_dental_content_img_div_content::after,
.model_dental_content_img_div .model_dental_content_img_div_content::before {
    content: "";
    display: block;
    position: absolute;
    left: 54%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-color: white;
    border-width: 2px;
    transition: .5s;
    z-index : 5;
} 
.white_oss_logo_div{
	position: relative;
    overflow: hidden;
    z-index: 100;
}

.white_oss_logo_div{
	opacity: 0;
}

.white_oss_logo_div:hover,
.white_oss_logo_div.hover {
	opacity: 1;
}
