@charset "UTF-8";
#portfolio_dental_wrap{ margin: 0 auto; width: 60%;}
#portfolio_dental_summary{background-color: #d5d5d8; margin: 3rem auto; border-radius: 50px; width: 70%;}
.portfolio_dental_summary_img{height: 30px;}
.portfolio_dental_content_title{margin-left: 120px;}
.portfolio_dental_content_title_b{font-size: 20px}
.portfolio_dental_content_img{width:900px;}
.portfolio_dental_content_p{width:900px; margin: 0 auto; padding-bottom: 100px;}


