/*색상 선택 라디오 버튼 css*/
.detail_interior_color_choie{
    margin: 0;
}
.detail_interior_color_choie input[type="radio"] {
    display: none;
}

.detail_interior_color_choie input[type="radio"] + span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    

}

.detail_interior_color_choie input[type="radio"]:checked + span {
    width: 20px;
    height: 20px;
    border: 3px solid #ca5c0d;;
}

/*인테리어 디테일 상담신청 어사이드 바*/
.detail_consult_aside_ul{
    list-style: none ;
    width: 100%;
    padding: 40px 0 0 0;
    font-family: 'MinSans-Medium';
    
}
#dcajcwaiting, #dcajctreatment, #dcajcdisinfection, #dcajcmachine{
    display: none;
}

.detail_consult_aside_jsonci_class{
    padding: 0;
}
.detail_consult_aside_jsonci_class[value="all"]{
    color: #ca5c0d;
}

/*기본 디테일 상담 라디오 버튼 css*/
.detail_consult_main_radio_btn_csswrap, .r_lights_css{
    margin: 0;
}
.detail_consult_main_radio_btn_csswrap input[type="radio"], .r_lights_css input[type="radio"]  {
    display: none;
}

.detail_consult_main_radio_btn_csswrap input[type="radio"] + span {
    height: 50px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'MinSans-Regular';
}

.detail_consult_main_radio_btn_csswrap input[type="radio"]:checked + span {
    height: 50px;
    background-color: #ca5c0d;
    color: white;
}

/*버튼 width만 따로 css 줘야함*/
.waiting_flooring{
    width: 230px;
}
.waiting_light{
    width: 340px;
}
.waiting_papering{
    width: 230px;
}
.waiting_furniture{
    width: 342px;
}
.wating_choice_title{
    font-family: 'MinSans-Medium';
}

/* 리모델링 조명 css  */

.remodeling_light{
    margin: 0;
}
.remodeling_light input[type="radio"] {
    display: none;
}

.remodeling_light input[type="radio"] + span {
    width: 340px;
    height: 170px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'MinSans-Regular';
    

}

.remodeling_light input[type="radio"]:checked + span {
    background-color: #ca5c0d;
    color: white;
}

.remodeling_light input[type="radio"]:checked + span>div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/*디테일신청 시공공간 체크 박스*/
.detail_consult_Rooms{   
    margin: 0;
}
.detail_consult_Rooms input[type="checkbox"] {
    display: none;
}

.detail_consult_Rooms input[type="checkbox"] + span {
    width: 230px;
    height: 150px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'MinSans-Medium';
}

.detail_consult_Rooms input[type="checkbox"]:checked + span {
    width: 230px;
    height: 150px;
    background-color: #ca5c0d;
    color: white;
}

.detail_consult_Rooms input[type="checkbox"]:checked + span>div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}




