.remodeling_price_quote_main_radio_btn{
    list-style: none ;
    width: 100%;
    padding: 40px 0 0 0;
    font-family: 'MinSans-Medium';
}
.remodeling_price_quote_main_radio_btn li{
    height: 70px;
}

.rpajc{
   font-size: 17px;
}

.total_remodeling_price_coment_wrap li{
    margin-bottom: 30px;
    font-family: 'MinSans-Regular';
    color: #272723
}

/*리모델링 체크박스 버튼 css*/
.detail_consult_main_radio_btn_csswrap{
    margin: 0;
}
.detail_consult_main_radio_btn_csswrap input[type="checkbox"] {
    display: none;
}

.detail_consult_main_radio_btn_csswrap input[type="checkbox"] + span {
    height: 50px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'MinSans-Regular';
}

.detail_consult_main_radio_btn_csswrap input[type="checkbox"]:checked + span {
    height: 50px;
    background-color: #ca5c0d;
    color: white;
}

/* 리모델링 견적 display none*/
#rpajcall{
    /* display: none; */
}
#rpajcpapering{
    display: none;
}
#rpajcwaiting{
    display: none;
}
#rpajctreatment{
    display: none;
}
#rpajcdisinfection{
    display: none; 
}

/*와이드 다시 잡기*/
.price_rcR  input[type="checkbox"] + span {
    width: 100%;
    height: 100%;
}
.price_rcR {
    width:33%;
}

.remodeling_price_papering{
    width: 100%;
}
.rpmrbc{
    width: 33%;
}
.rpmrbctwo{
    width: 50%;
}
.rp_maginunder{
    margin-bottom: 100px;
    margin-top: 50px;
}

/*가격 아래 붙어있게 하기*/
#rPirceResultWrap{
    position: sticky;
    top:0;
    width: 100%;
    text-align: center; 
    height: 60px; 
    background-color: #272723;
    background-color:rgba(0, 0, 0, 0.7);
    
}

#RPacreageResult{
	font-family: 'MinSans-Bold'; 
	font-size: 20px;
}
/*바닥 라디오 버튼*/
/*리모델링 시공공간 체크박스 css && 디테일신청 시공공간 체크 박스*/
.remodeling_price_floor{
    margin: 0;
}
.remodeling_price_floor input[type="radio"] {
    display: none;
}

.remodeling_price_floor input[type="radio"] + span {
    display: inline-block;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'MinSans-Medium';
}
.quic_rcR  input[type="radio"] + span {
    width: 180px;
    height: 150px;
}

.remodeling_price_floor input[type="radio"]:checked + span {
    background-color: #ca5c0d;
    color: white;
}

.remodeling_price_floor input[type="radio"]:checked + span>div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.price_rcF {
    width:33%;
}
.price_rcF  input[type="radio"] + span {
    width: 100%;
    height: 100%;
}

