 @font-face {
          font-family: "MinSans-Medium";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: "MinSans-Black";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        #AfterService_wrapper{
            font-family: "MinSans-Medium";
            font-size: 20px;
            background-color: #faf9f6;
        }

        #pxup_line{
            background-color: #333;
            height: 2px;
        }

        .as_font_color_ccc{
            color: #333;
            font-size: 15px;
        }
        .as_title{
            font-family: "MinSans-Black";
            font-size: 30px;
        }
        #as_content{
            margin-top: 150px;
            margin-left: 10%;
            width: 80%;
        }
        #as_product_choice{
            margin-bottom: 100px;
        }
        #btn_my_product{
            margin-left: 84%;
            font-family: "MinSans-Medium";
            border-radius: 20px;
            padding: 10px;
            padding-left: 14px;
            padding-right: 14px;
        }

        #red_star{
            color: red;
            font-size: 15px;
        }
        #as_title1_content1{
            font-size: 15px;
            font-family: "MinSans-Medium";
        }
        #as_model_input{
            margin-left: 100px;
            margin-right: 50px;
            width: 600px;
            font-size: 15px;
            padding: 10px;
            color: #7c7c7c;
        }
        .as_title1_content2{
            margin-left: 140px;
            font-size: 15px;
        }
        #as_btn_list{
            border: 1px solid #ccc;
            border-radius: 20px;
            padding-top: 20px;
            padding-left: 45px;
            background-color: #ffffff;
            margin-bottom: 60px;
        }
        .as_btn_list_el{
            float: left;
            padding-left: 30px; padding-top:30px;
            
        } 
        .as_btn_list_image{
            margin-right: 46px;
            border: 1px solid #ccc;
            padding: 20px;
            width: 200px;
            margin-bottom: 10px;
        }
        .as_btn_list_image:hover{
            border: 3px solid #ca5c0d;
        }
        .as_btn_list_image:visited{
            border: 3px solid #ca5c0d;
        }

        #btn_aschair_image{            
            margin-left: 10px;
        }

        #as_btn_list_text{
            padding: 30px;
            color: black;
        }
        .as_btn_list_text_el{
            margin-right: 40px;
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        .as_btn_list_text_el_a{
            margin-right: 40px;
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        .as_btn_list_text_el_a:hover{
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        #whyareyouhere{
            clear: both;
            float:left;
        }
        #as_detail_input{
            /* margin-left: 100px;
            margin-right: 50px; */
            width: 1000px;
            height: 300px;
            font-size: 15px;
            padding: 30px;
            padding-bottom: 300px;
            color: #7c7c7c;
        }
        #as_photo_input{
            margin-left: 100px;
            margin-right: 50px;
            width: 600px;
            font-size: 15px;
            padding: 10px;
            color: #7c7c7c;
        }

        .as_detail_content{
            margin-left: 180px;
            font-size: 15px;
        }
        .underline{
            background-color: white;
            border: 1px solid #7c7c7c;
            width: 300px;
            margin-left: 90px;
            font-size: 15px;
            padding: 10px;
            text-align: center;
        }
        #text_whenyoudontknow{
            margin-left: 150px;
        }
        #checkwhenyoudontknow{
            width: 50px;
        }
        #as_info_input{
            padding-bottom: 120px;
        }
        #checked_user_update{
            margin-left: 100px;
        }
        #checked_same_user_info{
            
        }
        #as_info_input .left{
            float: left;
            margin-right: 70px;
            font-family: "MinSans-Black";
        }
        #as_info_input .right{

        }
        #checked_user_update_info{
            display: none;
        }
        
        #before_verify_as{
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 10px;
            padding-top: 20px;
            
            background-color: white;
            margin-bottom: 30px;
        }
        #before_verify_as p{
            color: #2406A2;
            font-family: "MinSans-Black";
        }
        #before_verify_as li{
            font-size: 13pt;
        }
        #btn_select_reservation_date{
            background-color: #ca5c0d;
            color: white;
            width: 150px;
            height: 50px;
            padding-top: 15px;
            font-size: 15px;
            margin-top: 30px;
            float: right;
        }
        #btn_select_reservation_date:hover{
            background-color: white;
            color: black;
        }
        #as_reservation_date_ch{
            clear: both;
            display: none;
        }
        #as_reservation_date_ch_left_content{
            float: left;
            margin-right: 100px;
        }
        #check_as_date{
            float: left;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 30px;
            padding-top: 20px;
            background-color: white;
            margin-bottom: 30px;
        }
        #check_as_date input[type=radio]{
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
        }
        #check_as_date input[type=radio] + label{
            margin-right: 10px;
            padding: 10px;
            width: 100px;
            height: 50px;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            border: solid 1px #DDD;
            border-radius: 20px;
            background-color: #FFF;
            line-height: 140%;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            cursor: pointer;
        }
        #check_as_date input[type=radio]:checked + label{
            background-color: #ca5c0d;
            color: #FFF;
            box-shadow: 0 0 10px rgba(224, 173, 95, 0.5);
            border-color: #ca5c0d;
            z-index: 1;
        }
        #as_reservation_date_ch_right_content{
            clear: both;
        }
        #check_as_time{
            float: left;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 30px;
            padding-top: 20px;
            background-color: white;
            margin-bottom: 30px;
            
        }
        #check_as_time input[type=radio]{
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
        }
        #check_as_time input[type=radio] + label{
            margin-right: 10px;
            padding: 10px;
            width: 100px;
            height: 50px;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            border: solid 1px #DDD;
            border-radius: 20px;
            background-color: #FFF;
            line-height: 140%;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            cursor: pointer;
        }
        #check_as_time input[type=radio]:checked + label{
            background-color: #ca5c0d;
            color: #FFF;
            box-shadow: 0 0 10px rgba(224, 173, 95, 0.5);
            border-color: #ca5c0d;
            z-index: 1;
        }
        #as_reservation_final_button{
            clear: both;
            
        }
        #as_reservation_final_button .btn-light{
            width: 150px;
            height: 50px;
            font-size: 15px;
            margin-top: 50px;
            margin-bottom: 150px;
        }
        #btn_reservation_input_cancellation:hover{
            background-color: #ca5c0d;
            color: white;
        }
        #btn_reservation_input_final:hover{
            background-color: white;
            color: black;
        }
        #btn_reservation_input_cancellation{
            background-color: white;
            color: #333;
            float: left;          
            border: 1px solid #ccc;
            padding-top: 15px;
            margin-left: 400px;
            margin-right: 20px;
        }
        #btn_reservation_input_final{
            background-color: #ca5c0d;
            color: white;
            margin-top: 30px;
            padding-top: 10px;
        }
        .checked_user_update_info_adr{
            height: 36px;
            font-size: 15px;
        }
        #howToVerifyModel {
            position: relative;
        }
        #howToVerifyModel span{
            position: absolute;  
            background-color: #ccc;
            width: 300px;
            color : black;
            top : -8px;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            left: 110%;                    /*중앙배치 : 왼쪽에서 100%위치*/
            transform: translateX(-0%);  /*중앙배치 : X크기값을 50%만큼 이동*/
            opacity: 0;                   /*이벤트설정 : 서서히 변하게 함*/
            transition: 0.5s;   
            visibility: hidden;          /*특정 요소 접촉시 이벤트 발생*/
        }
        #howToVerifyModel span:after {
            content : '';             
            position: absolute;     
            background-color: #ccc;
            width : 10px;
            height: 10px;
            transform: rotate(45deg) translateX(-50%);  
            bottom: -5px;
            top : 20px;
            left: 0%;  /*1. 왼쪽에서 50%위치에 둔다.*/ /*2. 크기값을 50%만큼 이동시켜준다.->항상 중앙에 위치하게됨*/     
        }
        #howToVerifyModel:hover span{
            opacity: 1;
            visibility: visible;     /*hover시 발생하ㅡㄴ 이벤트*/
        }
        #as_btn_list button{
            background-color: #ca5c0d; 
            height: 50px; 
            width: 50px;
            margin-top: 130px;
        }
        .simpleSymEl{
            display: none;
        }
        #simpleSymList label{
        	border:1px solid #13062c;
            border-radius: 10px;
            padding: 10px;
            margin-left: 20px;
           
        }

        #simpleSymList label:hover{
        	background-color: #ca5c0d;
            border:1px solid #ccc;
            color: #ffffff;
        }

       #simpleSymList label:focus{
            background-color: #ca5c0d;
            border:1px solid #ccc;
            color: #ffffff;
        }

        .as_btn_list_text_el_a{
            display: none;
        }

/*팝업*/
/*popup*/
#AfterService_wrapper .popup_layer {
	position:fixed;
	top:0;
	left:0;
	z-index: 10000; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.4); 
	}
/*팝업 박스*/
#AfterService_wrapper .popup_box{
	position: relative;
	top:50%;
	left:50%; 
	overflow: auto; 
	height: 600px; 
	width:375px;
	transform:translate(-50%, -50%);
	z-index:1002;
	box-sizing:border-box;
	background:#fff;
	box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
	}
/*컨텐츠 영역*/
#AfterService_wrapper .popup_box .popup_cont {
	padding:50px;
	line-height:1.4rem;
	font-size:14px; 
	}
#AfterService_wrapper .popup_box .popup_cont h2 {
	padding:15px 0;
	color:#333;
	margin:0;
	}
#AfterService_wrapper .popup_box .popup_cont p{ 
	border-top: 1px solid #666;
	padding-top: 30px;}
/*버튼영역*/
#AfterService_wrapper .popup_box .popup_btn {
	display:table;
	table-layout: fixed;
	width:100%;
	height:70px;
	background:#ECECEC;
	word-break: break-word;
	}
#AfterService_wrapper .popup_box .popup_btn a {
	position: relative; 
	display: table-cell; 
	height:70px;  
	font-size:17px;
	text-align:center;
	vertical-align:middle;
	text-decoration:none; 
	background:#ECECEC;
	}
#AfterService_wrapper .popup_box .popup_btn a:hover { 
	background:#ca5c0d;
}
#AfterService_wrapper .popup_box .popup_btn a:before{
	display:block;
	position:absolute;
	top:26px;
	right:29px;
	width:1px;
	height:21px;
	background:#fff;
}
#AfterService_wrapper .popup_box .popup_btn a:after{
	display:block;
	position:absolute;
	top:26px;
	right:29px;
	width:1px;
	height:21px;
	background:#fff;
}
#AfterService_wrapper .popup_box .popup_btn a.close_day {
	background:#5d5d5d;
	}
#AfterService_wrapper .popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{
	display:none;
	}
/*오버레이 뒷배경*/
#AfterService_wrapper .popup_overlay{
	position:fixed;
	top:0px;
	right:0;
	left:0;
	bottom:0;
	z-index:1001;
	background:rgba(0,0,0,0.5);
	}
/*popup*/
/* @font-face {
          font-family: "MinSans-Medium";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: "MinSans-Black";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        #AfterService_wrapper{
            font-family: "MinSans-Medium";
            font-size: 20px;
            background-color: #faf9f6;
        }
        
        #pxup_line{
            background-color: #333;
            height: 2px;
        }
        
        .as_font_color_ccc{
            color: #333;
            font-size: 15px;
        }
        .as_title{
            font-family: "MinSans-Black";
            font-size: 30px;
        }
        #as_content{
            margin-top: 150px;
            margin-left: 10%;
            width: 80%;
        }
        #as_product_choice{
            margin-bottom: 100px;
        }
        #btn_my_product{
            margin-left: 84%;
            font-family: "MinSans-Medium";
            border-radius: 20px;
            padding: 10px;
            padding-left: 14px;
            padding-right: 14px;
        }

        #red_star{
            color: red;
            font-size: 15px;
        }
        #as_title1_content1{
            font-size: 15px;
            font-family: "MinSans-Medium";
        }
        #as_model_input{
            margin-left: 100px;
            margin-right: 50px;
            width: 600px;
            font-size: 15px;
            padding: 10px;
            color: #7c7c7c;
        }
        .as_title1_content2{
            margin-left: 140px;
            font-size: 15px;
        }
        #as_btn_list{
            border: 1px solid #ccc;
            border-radius: 20px;
            padding-top: 20px;
            padding-left: 45px;
            background-color: #ffffff;
            margin-bottom: 60px;
        }
        .as_btn_list_el{
            float: left;
            padding-left: 30px; padding-top:30px
        } 
        .as_btn_list_image{
            margin-right: 46px;
            border: 1px solid #ccc;
            padding: 20px;
            width: 200px;
        }
        .as_btn_list_image:hover{
            border: 3px solid #ca5c0d;
        }
        #btn_aschair_image{
            
            margin-left: 10px;
        }
        #btn_asvideo_image{

        }
        #btn_ascrown_image{
 
        }
        #btn_asSterilizationwasher_image{

        }
        #as_btn_list_text{
            padding: 30px;
            color: black;
        }
        .as_btn_list_text_el{
            margin-right: 40px;
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        .as_btn_list_text_el_a{
            margin-right: 40px;
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        .as_btn_list_text_el_a:hover{
            border: none; 
            outline: none;
            color: black; 
            text-decoration: none;
        }
        #whyareyouhere{
            clear: both;
            float:left;
        }
        #as_detail_input{
            margin-left: 100px;
            margin-right: 50px;
            width: 1000px;
            height: 300px;
            font-size: 15px;
            padding: 30px;
            padding-bottom: 300px;
            color: #7c7c7c;
        }
        #as_photo_input{
            margin-left: 100px;
            margin-right: 50px;
            width: 600px;
            font-size: 15px;
            padding: 10px;
            color: #7c7c7c;
        }
        #as_detail{
            
        }
        
        .as_detail_content{
            margin-left: 180px;
            font-size: 15px;
        }
        .underline{
            background-color: white;
            border: 1px solid #7c7c7c;
            width: 300px;
            margin-left: 90px;
            font-size: 15px;
            padding: 10px;
            text-align: center;
        }
        #buy_year_input{
            
        }
        #buy_month_input{

        }
        #text_whenyoudontknow{
            margin-left: 150px;
        }
        #checkwhenyoudontknow{
            width: 50px;
        }
        #as_info_input{
            padding-bottom: 120px;
        }
        #checked_user_update{
            margin-left: 100px;
        }
        #checked_same_user_info{
            
        }
        #as_info_input .left{
            float: left;
            margin-right: 70px;
            font-family: "MinSans-Black";
        }
        #as_info_input .right{

        }
        #checked_user_update_info{
            display: none;
        }
        
        #before_verify_as{
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 10px;
            padding-top: 20px;
            
            background-color: white;
            margin-bottom: 30px;
        }
        #before_verify_as p{
            color: #2406A2;
            font-family: "MinSans-Black";
        }
        #before_verify_as li{
            font-size: 13pt;
        }
        #btn_select_reservation_date{
            background-color: #ca5c0d;
            color: white;
            width: 150px;
            height: 50px;
            padding-top: 15px;
            font-size: 15px;
            margin-top: 30px;
            float: right;
        }
        #btn_select_reservation_date:hover{
            background-color: white;
            color: black;
        }
        #as_reservation_date_ch{
            clear: both;
            display: none;
        }
        #as_reservation_date_ch_left_content{
            float: left;
            margin-right: 100px;
        }
        #check_as_date{
            float: left;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 30px;
            padding-top: 20px;
            background-color: white;
            margin-bottom: 30px;
        }
        #check_as_date input[type=radio]{
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
        }
        #check_as_date input[type=radio] + label{
            margin-right: 10px;
            padding: 10px;
            width: 100px;
            height: 50px;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            border: solid 1px #DDD;
            border-radius: 20px;
            background-color: #FFF;
            line-height: 140%;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            cursor: pointer;
        }
        #check_as_date input[type=radio]:checked + label{
            background-color: #ca5c0d;
            color: #FFF;
            box-shadow: 0 0 10px rgba(224, 173, 95, 0.5);
            border-color: #ca5c0d;
            z-index: 1;
        }
        #as_reservation_date_ch_right_content{
            clear: both;
        }
        #check_as_time{
            float: left;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 30px;
            padding-top: 20px;
            background-color: white;
            margin-bottom: 30px;
            
        }
        #check_as_time input[type=radio]{
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
        }
        #check_as_time input[type=radio] + label{
            margin-right: 10px;
            padding: 10px;
            width: 100px;
            height: 50px;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            border: solid 1px #DDD;
            border-radius: 20px;
            background-color: #FFF;
            line-height: 140%;
            text-align: center;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
            cursor: pointer;
        }
        #check_as_time input[type=radio]:checked + label{
            background-color: #ca5c0d;
            color: #FFF;
            box-shadow: 0 0 10px rgba(224, 173, 95, 0.5);
            border-color: #ca5c0d;
            z-index: 1;
        }
        #as_reservation_final_button{
            clear: both;
            
        }
        
        #as_reservation_final_button .btn-light{
            width: 150px;
            height: 50px;
            font-size: 15px;
            margin-top: 50px;
            margin-bottom: 150px;
        }
        #btn_reservation_input_cancellation:hover{
            background-color: #ca5c0d;
            color: white;
        }
        #btn_reservation_input_final:hover{
            background-color: white;
            color: black;
        }
        #btn_reservation_input_cancellation{
            background-color: white;
            color: #333;
            float: left;          
            border: 1px solid #ccc;
            padding-top: 15px;
            margin-left: 400px;
            margin-right: 20px;
        }
        #btn_reservation_input_final{
            background-color: #ca5c0d;
            color: white;
            margin-top: 30px;
            padding-top: 10px;
        }
        .checked_user_update_info_adr{
            height: 36px;
            font-size: 15px;
        }
        
        #howToVerifyModel{
            position: relative;
        }
        #howToVerifyModel span{
            position: absolute;  
            background-color: #ccc;
            width: 300px;
            color : black;
            top : -8px;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            left: 110%;                    중앙배치 : 왼쪽에서 110%위치
            transform: translateX(-0%);  중앙배치 : X크기값을 이동
            opacity: 0;                   이벤트설정 : 서서히 변하게 함
            transition: 0.5s;   
            visibility: hidden;          특정 요소 접촉시 이벤트 발생
        }
        #howToVerifyModel span:after {
            content : '';             
            position: absolute;     
            background-color: #ccc;
            width : 10px;
            height: 10px;
            transform: rotate(45deg) translateX(-50%);  
            bottom: -5px;
            top : 20px;
            left: 0%;  1. 왼쪽에서 50%위치에 둔다. 2. 크기값을 50%만큼 이동시켜준다.->항상 중앙에 위치하게됨     
        }
        #howToVerifyModel:hover span{
            opacity: 1;
            visibility: visible;     hover시 발생하ㅡㄴ 이벤트
        }
        #as_btn_list button{
            background-color: #ca5c0d; 
            height: 50px; 
            width: 50px;
            margin-top: 130px;
        }
        #simpleSymList label{
        	border:1px solid #13062c;
            border-radius: 10px;
            padding: 10px;
            margin-left: 20px;
        }
        #simpleSymList label:hover{
        	background-color: #ca5c0d;
            border:1px solid #ccc;
            color: #ffffff;
        }
        .simpleSymEl_label:hover{
        	background-color: #ca5c0d;
            border:1px solid #ccc;
            color: #ffffff;
        }

       .simpleSymEl_label:focus{
            background-color: #ca5c0d;
            border:1px solid #ccc;
            color: #ffffff;
        }
        #simpleSymList{
            clear: both;
        }
        .simpleSymEl{
            display:none
        }
        .as_btn_list_text_el_a{
            display: none;
        } */