@font-face {
          font-family: "MinSans-Medium";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: "MinSans-Black";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
            font-family: 'MinSans-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'MinSans-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'MinSans-Light';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        /*장비 전체 감싸기*/
        #dentalequipmentmain_wrapper{
            font-family: "MinSans-Medium";
            font-size: 20px;
            width: 100%; 
            padding: 0;
        }
        /*장비 컨텐츠 감싸기*/
        #dentalequipmentmain_content{
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;
            display: flex;
            padding: 0;
        }
        #makeline{  
            border-bottom: 1px solid #ccc;
            width: 100%;
            margin-bottom: 40px;
            height: 3px;
        }
        /*어사이드바*/
        #dentalequipmentmain_left{
            width: 20%;
            display: inline-block;
            border-right: 1px solid #ccc;
        }
        
        .productAsideUl, .productInsideAsideUl{
            list-style:none;
        }
        .productAsideUl >li{
            font-family: 'MinSans-Medium'; 
            font-size:25px;
            padding-bottom: 20px;
            padding-left:0px;
        }
        .productInsideAsideUl li{
            font-family: 'MinSans-Light';
            font-size: 18px;;
        }
        
	
        /*메인섹션*/
        #dentalequipmentmain_right{
            width: 80%;  
            display: inline-block;
        }
      
        