        @font-face {
          font-family: "MinSans-Medium";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: "MinSans-Black";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff")
            format("woff");
          font-weight: normal;
          font-style: normal;
        }
        #paymentpage_wrapper{
            font-family: "MinSans-Medium";
            font-size: 20px;
            background-color: #faf9f6;
        }
        #pxup_line{
            background-color: #333;
            height: 2px;
        }

        #paymentpage_content{
            margin-top: 150px;
            margin-left: 15%;
            width: 70%;
        }
        #makeline{
            border-bottom: 1px solid #ccc;
            width: 400px;
            margin-bottom: 150px;
        }
        .fontcolorccc{
            color: #ccc;
            font-size: 13pt;
        }
        .fontcolor525253{
            color: #525253;
            font-size: 13pt;
            font-family: "MinSans-Black";
        }

        #paymentpage_content_left{
          display: inline-block; 
          width: 55%;
          float:left;
          margin-bottom: 150px;

          margin-left: 200px;
        }

        #paymentpage_content_right .btn{
            background-color: #ca5c0d;
            color: #ffffff;
            width: 100px;
            margin-left: 30px;
            margin-top: 20px;
        }
        

        #payment_step1 input{
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            padding-left: 20px;
        }
        #payment_step2 input{
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            padding-left: 20px;
}
        #card_payment{
            margin-top: 50px;
            width: 600px;
            padding: 30px;
            margin-left: 150px;
            border: 1px #ccc solid;
            border-radius: 20px;
            background-color: #f7f4f4;
        }
        #card_payment input{
            margin-bottom: 20px;
            border-radius: 20px;
            border: 1px solid #ccc;
            padding: 5px;
            padding-left: 20px;
        }
/*
        #purchase_cart_count{
            width: 120px;
            text-align: center;
        }
        #purchase_cart_list{
            margin-bottom: 100px;
        }
        .purchaseList{
			padding: 20px 20px 0px 20px;
        }/*
        

		
