.proCon_add_result_pop-layer .proCon_add_result_pop-container {
  padding-top: 10px;
}

.proCon_add_result_pop-layer .btn-r {
  width: 100%;
  text-align: center;
}
.proCon_add_result_title{
  height: 200px; 
  padding-top: 40px;
}
.proCon_add_result_pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px;
}

.proCon_add_result_dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.proCon_add_result_dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.proCon_add_result_dim-layer .proCon_add_result_pop-layer {
  display: block;
}
.btn-r{
  display: flex;
}

a.proCon_add_result_btn {
  padding-top: 12px;
  margin: 0;
  width: 205px;
  height: 50px;
  display: inline-block;
  background-color: #272723;
  font-size: 16px;
  color: #fff;
}

a.proCon_add_result_btn:hover {
  color: #fff;
}